.page_base {
  font-family: Arial, Helvetica, sans-serif;
}
.page_base a {
  cursor: pointer;
}
.page_base input[type="text"] {
  border: none;
  padding: 10px 0;
  border-bottom: 1px solid #eeeeee;
  width: 400px;
  max-width: 100%;
  outline: none;
}
.page_base button {
  padding: 10px 10px;
  background-color: #fff;
  border: 1px solid #d6d1d1;
  outline: none;
}
.page_base button.selected {
  background-color: #eeeeee;
}
.page_base button:active {
  background-color: #f9f9f9;
}
.page_base textarea {
  width: 100%;
  box-sizing: border-box;
  resize: none;
}

.page_editor_widgets_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.page_editor_widgets_list_item {
  padding: 20px;
  margin: 20px;
  border: 1px solid #d6d1d1;
  cursor: pointer;
}

/* add css styles here (optional) */

.page_editor {
  display: flex;
  height: 100%;
  background-color: #eeeeee;
}

.page_editor_layout {
  flex: 1;
  overflow-y: auto;
}

.page_editor_layout_inner {
  background-color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.page_editor_layout_inner.boxed {
  width: 1000px;
  max-width: 100%;
  margin: 40px auto;
}

.page_editor_left_panel {
  width: 300px;
  max-width: 100%;
  background-color: #e7e7e7;
  border-right: 1px solid #bfbebe;
  display: flex;
  flex-direction: column;
}
.page_editor_left_panel_locale {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.page_editor_locale_select {
  overflow-y: auto;
  white-space: nowrap;
  padding: 10px 0;
}
.page_editor_locale_select::-webkit-scrollbar {
  height: 2px;
}
.page_editor_locale_select_item {
  height: 40px;
  padding: 10px;
  line-height: 15pt;
  display: inline-block;
  background-color: #fff;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
}
.page_editor_locale_select_item.inactive {
  background-color: rgb(231, 231, 231);
}

.page_editor_widgets_overview_widget_draggable_wrapper {
  transition: opacity 100ms;
}
.page_editor_widgets_overview_widget_draggable_wrapper.isDragging {
  opacity: 0.5;
}

.page_editor_widgets_overview_widget {
  cursor: pointer;
  background-image: linear-gradient(#fff, #fdfdfd);
  border: 1px solid #b3dbdb;
  border-radius: 5px;
  padding: 2px;
  cursor: pointer;
  box-sizing: border-box;
  min-height: 30px;
  box-sizing: border-box;
  font-size: 10pt;
}

.page_editor_widgets_overview_widget.hover {
  background-image: linear-gradient(#c7f5f4, #b7ebea);
  border: 1px solid #37b1af;
  /* box-shadow: -2px -2px 2px rgba(0, 0, 0, 0.05) inset; */
}

.page_editor_page_data {
  width: 100%;
  background: white;
  box-sizing: border-box;
  max-height: 700px;
  min-height: 200px;
  position: relative;
}
.page_editor_page_data .code {
  height: 100%;
  overflow-y: auto;
  padding: 10px 5px;
  box-sizing: border-box;
  margin: 0;
}
.page_editor_page_data:hover .page_editor_page_data_copy_button {
  opacity: 1;
}
.page_editor_page_data_copy_button {
  color: blue;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  opacity: 0;
  transition: opacity 200ms;
  font-size: 10pt;
  padding: 5px;
  border-radius: 0 0 8px 8px;
  background-color: rgba(0, 0, 0, 0.05);
}

.page_editor_hoverable {
  transition: opacity 200ms;
}
.hover_inactive {
  opacity: 0.6;
}
.page_editor_widget > .page_editor_widget_layout > .page_editor_widget_control {
  visibility: hidden;
  opacity: 0;
  transition: visibility 700ms, opacity 700ms;
}
.page_editor_widget:hover
  > .page_editor_widget_layout
  > .page_editor_widget_control {
  opacity: 1;
  visibility: visible;
}
.page_editor_widget_control {
  position: absolute;
  top: -30px;
  left: 0;
}
.page_editor_widget {
  position: relative;
}

.page_editor_widget_form {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
}
.page_editor_widget_form_header {
  padding: 10px 20px;
  border-bottom: 1px solid #e0e0e0;
}
.page_editor_widget_form_header h1 {
  margin: 0;
}
.page_editor_widget_form_content {
  display: flex;
  flex-direction: row;
  height: 100%;
  flex: 1;
}
.page_editor_widget_form_left {
  flex: 1;
  padding: 30px 20px;
  overflow-y: auto;
}
.page_editor_widget_form_right {
  width: 250px;
  background-color: #eeeeee;
  padding: 10px;
  box-sizing: border-box;
}
.page_editor_widget_form_right h3 {
  font-weight: bold;
}
.page_editor_widget_form_right h3 a {
  font-weight: normal;
  font-size: 10pt;
  color: blue;
  cursor: pointer;
  padding: 0 5px;
}
.page_editor_widget_form_footer {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #eeeeee;
}
.page_editor_widget_form_footer_left {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;
}
.page_editor_widget_form_delete_button {
  color: #f00;
  cursor: pointer;
}
.page_editor_widget_form_duplicate_button {
  color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
  padding: 0 10px;
}

.widget-form-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.05);
}
.widget-form-modal-container {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
  min-height: 600px;
  max-height: 100%;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  outline: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.page_editor_widget_layout_form .edge_input_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.page_editor_widget_layout_form .edge_input_container input {
  flex: 1;
  width: 1px;
  min-width: auto;
  position: relative;
  border: 2px solid transparent;
  box-sizing: border-box;
  margin: 0 1px;
  padding: 3px;
}
.page_editor_widget_layout_form input.edge_top {
  border-top: 2px solid blue;
}
.page_editor_widget_layout_form input.edge_right {
  border-right: 2px solid blue;
}
.page_editor_widget_layout_form input.edge_bottom {
  border-bottom: 2px solid blue;
}
.page_editor_widget_layout_form input.edge_left {
  border-left: 2px solid blue;
}
.page_editor_widget_layout_inline_style_form {
  position: relative;
}
.page_editor_widget_layout_inline_style_form textarea {
  min-height: 50px;
}

.widget_form .form_field {
  width: 400px;
  max-width: 100%;
  margin: 7px 0;
}
.widget_form .form_field label {
  padding: 3px 10px 3px 0;
}
.widget_form .form_field.horizontal {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 10px 0;
}

/* widgets */
.widget_layout_builder_overview_column {
  position: relative;
  float: left;
  padding: 2% 1%;
  box-sizing: border-box;
}
.widget_layout_builder_overview_column_placeholder {
  height: 30px;
  border: 1px solid #b8e2dc;
  box-sizing: border-box;
  position: relative;
}
.widget_layout_builder_overview_column_placeholder::after {
  content: "+";
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
  transition: transform 300ms, opacity 400ms;
}
.widget_layout_builder_overview_column_placeholder:hover::after {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.2, 1.2);
}
.widget_layout_builder_form_preview_container {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}
.widget_layout_builder_form_preview_block {
  height: 200px;
  background-color: #d3fff9;
  border: 1px solid #b8e2dc;
  position: relative;
}
.widget_layout_builder_form_preview_block_percent {
  margin: 0;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  transform: translate(-50%, -50%);
}
.widget_layout_builder_form_preview_block_percent:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.widget_layout_builder_editor_column {
  float: left;
  position: relative;
  min-height: 40px;
}

.widget_text_editor {
  border: none;
  outline: none;
  resize: none;
  width: 100%;
  background: transparent;
}
.widget_text_form_text {
  border: none;
  border-bottom: 1px solid #eeeeee;
  outline: none;
  resize: none;
  width: 100%;
}
.widget_text.h1 {
  font-size: 3em;
  font-weight: 700;
}
.widget_text.h2 {
  font-size: 2.6em;
  font-weight: 700;
}
.widget_text.h3 {
  font-size: 2.3em;
  font-weight: 700;
}
.widget_text.h4 {
  font-size: 2em;
}
.widget_text.p {
  font-size: 1em;
}
.widget_text.small {
  font-size: 0.7em;
}
.widget_text.textAlign-left {
  text-align: left;
}
.widget_text.textAlign-center {
  text-align: center;
}
.widget_text.textAlign-right {
  text-align: right;
}

.widget_image_editor {
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.widget_image_editor_image {
  width: 100%;
  height: 100%;
}

.widget_gradient_box {
  position: relative;
}
.widget_gradient_box_title {
  font-weight: 300;
}
.widget_gradient_box_background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
}
.widget_gradient_box_gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}
.widget_gradient_box_content {
  position: relative;
  padding: 1px 10px 10px 10px;
}
.widget_gradient_box_items {
  padding: 0 0 0 20px;
}
.widget_gradient_box_form .items_container {
  flex: 1;
}
.widget_gradient_box_form .items_container input {
  width: 100%;
}
.widget_tab_menu .widget_tab_menu_item {
  padding: 15px;
  cursor: pointer;
}
.widget_tab_menu.vertical .widget_tab_menu_item {
  background-color: #eeeeee;
  border: 0.5px solid #e6e6e6;
  box-sizing: border-box;
}
.widget_tab_menu.vertical .widget_tab_menu_item.active,
.widget_tab_menu.vertical .widget_tab_menu_item:hover {
  background-image: linear-gradient(#2dccd0, #0db4b0);
  color: white;
}
.widget_tab_menu.horizontal {
  display: flex;
  flex-direction: row;
}
.widget_tab_menu.horizontal.horizontal-position-left {
  justify-content: flex-start;
}
.widget_tab_menu.horizontal.horizontal-position-center {
  justify-content: center;
}
.widget_tab_menu.horizontal.horizontal-position-right {
  justify-content: flex-end;
}
.widget_tab_menu.horizontal.horizontal-position-space-between {
  justify-content: space-between;
}
.widget_tab_menu.horizontal.horizontal-position-space-around {
  justify-content: space-around;
}
.widget_tab_menu.horizontal.horizontal-position-fill .widget_tab_menu_item {
  flex: 1;
  text-align: center;
}
.widget_tab_menu.horizontal .widget_tab_menu_item {
  border-bottom: 3px solid transparent;
}
.widget_tab_menu.horizontal .widget_tab_menu_item.active,
.widget_tab_menu.horizontal .widget_tab_menu_item:hover {
  border-bottom: 3px solid #2dccd0;
}

.widget_tab_content_overview_content_widgets {
  padding: 3px;
}
.widget_tab_content_overview_tab_items {
  overflow-y: auto;
  white-space: nowrap;
  padding: 5px 0 10px 0;
}
.widget_tab_content_overview_tab_items::-webkit-scrollbar {
  height: 2px;
}

.widget_tab_content_overview_tab_item {
  padding: 5px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}
.widget_tab_content_overview_tab_item.inactive:hover {
  color: #666666;
}
.widget_tab_content_overview_tab_item.inactive {
  color: #9b9b9b;
  border-bottom: 2px solid transparent;
}
.widget_tab_content_overview_tab_item.active {
  color: #000;
  border-bottom: 2px solid #26b3b6;
}
.widget_list .list-style-circle {
  list-style-type: circle;
}
.widget_list .list-style-square {
  list-style-type: square;
}
.widget_list .list-style-numeric {
  list-style-type: numeric;
}
.widget_list .list-style-upper-roman {
  list-style-type: upper-roman;
}
.widget_list .list-style-lower-roman {
  list-style-type: lower-roman;
}
.widget_list .list-style-upper-alpha {
  list-style-type: upper-alpha;
}
.widget_list .list-style-lower-alpha {
  list-style-type: lower-alpha;
}
